
body {
    background: #6c373f;
    display: flex;
    justify-content: center;
    }
  
  #picture-container {
    width: 90vh;
    display: grid;
    place-items: center;
    grid-template-areas:
      "a1 . ."
      ". a2 ."
      ". . a3";
  }
  
  #picture1 {
    grid-area: a1;
  }
  
  #picture2 {
    grid-area: a2;
  }
  
  #picture3 {
    grid-area: a3;
  }
  img {
    width: 300px;
    height: 320px;
  }
  